registry=https://devops.teamsystem.com/tfs/Teamsystem.IT.Architecture%20Middleware/_packaging/UIComponentTests/npm/registry/
always-auth=true
; Considerare questo token di autenticazione come una password. Non condividerlo con altri utenti, incluso il supporto tecnico Microsoft. Questo token scade entro il giorno 11/4/2022.
; token di autenticazione iniziale
//devops.teamsystem.com/tfs/Teamsystem.IT.Architecture%20Middleware/_packaging/UIComponentTests/npm/registry/:username=UIComponentTests
//devops.teamsystem.com/tfs/Teamsystem.IT.Architecture%20Middleware/_packaging/UIComponentTests/npm/registry/:_password=ZDZocnA3amF4YmZmZmg3YWJnMmFvazJ2aWc1eWVxM25weTc2eXNmM3Z6bXljemMzanlvcQ==
//devops.teamsystem.com/tfs/Teamsystem.IT.Architecture%20Middleware/_packaging/UIComponentTests/npm/registry/:email=npm richiede l'impostazione di un indirizzo di posta elettronica, ma non ne usa il valore
//devops.teamsystem.com/tfs/Teamsystem.IT.Architecture%20Middleware/_packaging/UIComponentTests/npm/:username=UIComponentTests
//devops.teamsystem.com/tfs/Teamsystem.IT.Architecture%20Middleware/_packaging/UIComponentTests/npm/:_password=ZDZocnA3amF4YmZmZmg3YWJnMmFvazJ2aWc1eWVxM25weTc2eXNmM3Z6bXljemMzanlvcQ==
//devops.teamsystem.com/tfs/Teamsystem.IT.Architecture%20Middleware/_packaging/UIComponentTests/npm/:email=npm richiede l'impostazione di un indirizzo di posta elettronica, ma non ne usa il valore
; token di autenticazione finale